@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
// Sass Breakpoint Mixin
@mixin breakpoint($point) {
    @if $point == small {
        @media (min-width: 768px)  { @content; }
    }
    @else if $point == medium {
        @media (min-width: 992px) { @content; }
    }
    @else if $point == large {
        @media (min-width: 1270px) { @content; }
    }
    @else if $point { // allows custom breakpoints
        @media (min-width: $point) { @content; }
    }
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.otf'); /* IE9 Compat Modes */
  font-weight: 700;
  font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.otf'); /* IE9 Compat Modes */
   font-weight: 600;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Regular.otf'); /* IE9 Compat Modes */
   font-weight: 400;
   font-style: normal;
 }
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}
*{
    box-sizing: border-box;
}

body{
    font: 400 15px / 1.5 Gotham;
}

.container{
    @include clearfix;
    padding: 0 15px;
    @include breakpoint(small) {}
    @include breakpoint(medium) {
        padding: 0;
        margin: 0 auto;
        width: 760px;
    }
    @include breakpoint(large) {
        width: 1000px;
        margin: 0 auto;
    }
    &--md{
        @include breakpoint(small) {}
        @include breakpoint(medium) {}
        @include breakpoint(large) {
            width: 1080px;
        }
    }
    &--lg{
        @include breakpoint(small) {}
        @include breakpoint(medium) {}
        @include breakpoint(large) {
            width: 1120px;
        }
    }
}

strong,
b{
    font-weight: bold;
    color: #37393f;
}

.btn,
input.btn{
    display: inline-block;
    min-width: 100%;
    cursor: pointer;
    outline: none;
    background: #a70c5d;
    border-radius: 50px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 600;
    line-height: 50px;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    @include breakpoint(small) {
        min-width: 180px;
    }
    @include breakpoint(medium) {}
    @include breakpoint(large) {}
    &:hover{
        background-color: lighten( #a70c5d, 10% );
        .icon{
            
        }
    }
}

.icon{
    display: inline-block;
    vertical-align: middle;
    background: transparent no-repeat 50% 50%;
    &:hover{
        
    }
    &-scroll{
        background-image: url(../img/scroll-icon.png);
        width: 22px;
        height: 22px;
        margin-right: 15px;
    }
    &-load{
        background-image: url(../img/load-icon.png); 
        width: 23px;
        height: 20px;
        margin-right: 11px;
    }
}

.page{
    &-section{
        &-testimonials{
            margin-bottom: 38px;
        }
    }
}

.header{
    @include clearfix;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 4;
    @include breakpoint(small) {
        top: 48px;
    }
    .logo{
        @include breakpoint(small) {
            float: left;
        }
        a{
            display: block;
            text-align: center;
        }
    }
}

.header-section{
    position: relative;
    min-height: 670px;
    background: #f5f5f5 url(../img/first-screen.png) no-repeat 82% 100%;
    @include breakpoint(small) {}
    @include breakpoint(medium) {}
    @include breakpoint(large) {}
    &:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.75);
        @include breakpoint(small) {
            content: none;
        }
        @include breakpoint(medium) {}
        @include breakpoint(large) {}
    }
    .entry-text{
        position: relative;
        padding: 0 15px;
        z-index: 2;
        padding-top: 178px;
        width: 100%;
        @include breakpoint(small) {}
        @include breakpoint(medium) {}
        @include breakpoint(large) {
            padding: 0;
            padding-top: 178px;
            width: 40%;
        }
    }
    .btn{
        @include breakpoint(large) {
            margin-top: 29px;
        }
    }
    p{
        padding-bottom: 25px;
    }
}



.menu{
    @include breakpoint(small) {
        float: right;
    }
    ul{
        display: inline-block;
        li{
            display: inline-block;
            a{
               color: #37393f;
                font: 500 11px / 34px Gotham; 
                text-decoration: none;
                text-transform: uppercase;
                margin: 0 16px;
                &:hover{
                    color: #a70c5d;
                }
            }
        }
    }
    &-lang{
        display: inline-block;
        position: absolute;
        top: 8px;
        right: 10px;
        @include breakpoint(small) {
            position: static;
            margin-left: 29px;
        }
        a{
            display: inline-block;
            position: relative;
            border: 1px solid #dfdfe2;
            text-transform: uppercase;
            border-radius: 30px;
            padding: 6px 8px;
            text-decoration: none;
            color: #a70c5d;
            font-weight: bold;
            vertical-align: middle;
            @include breakpoint(small) {
                padding: 5px 10px;
                font-size: 11px;
            }
            &:before{
                content: "";
                vertical-align: middle;
                display: inline-block;
                width: 18px;
                height: 18px;
                background-color: #dfdfe2;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
}

.section{
    &-title{
        text-align: center;
        text-transform: uppercase;
        color: #454545;
        font: 700 28px / 30px Gotham;
        padding: 40px 15px;
        @include breakpoint(small) {}
        @include breakpoint(medium) {}
        @include breakpoint(large) {
            padding-top: 55px;
            padding-bottom: 13px;
        }
        &:after{
            content: "";
            width: 40px;
            height: 2px;
            display: block;
            margin: 0 auto;
            background-color: #8d2d5f;
            margin-top: 13px;
        }
        &--left{
            padding-bottom: 26px;
            padding-top: 0;
            text-align: left;
            text-transform: none;
            letter-spacing: 0.7px;
            line-height: 1.24;
            @include breakpoint(large) {
                padding-left: 0;
            }
            &:after{
                margin-left: 0;
                margin-top: 29px;
            }
        }
        &-wrapper{
            padding-bottom: 15px;
            @include breakpoint(small) {}
            @include breakpoint(medium) {}
            @include breakpoint(large) {
                padding-bottom: 56px;
            }
        }
    }
    &-desc{
        text-align: center;
        color: #3f4147;
        font: 400 15px / 20px Gotham;
    }
}

.title{
    &--small{
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #3f4147;
        padding-bottom: 16px;
    }
}
p{
    color: #454545;
    font: 400 15px / 24px Gotham;
}
ul.list{
    list-style: none;
    padding-left: 25px;
    li{
        color: #9a9a9a;
        font: 400 13px / 20px Gotham;
        &:before{
            content: "";
            display: inline-block;
            width: 3px;
            height: 3px;
            margin: 0px 17px 0 -24px;
            vertical-align: middle;
            cursor: pointer;
            border: 2px solid #a70c5d;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
    }
}

.services{
    position: relative;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    &-row{
        @include clearfix;
        @include breakpoint(small) {}
        @include breakpoint(medium) {}
        @include breakpoint(large) {
            padding-top: 63px;
            padding-bottom: 27px;
        }
        &:first-child{
            border-bottom: 1px dotted #f4f4f4;
        }
    }
    &-item{
        position: relative;   
        margin: 30px 20px;
        @include breakpoint(small) {}
        @include breakpoint(medium) {}
        @include breakpoint(large) {
            float: left;
            width: 45%;
            margin: 0;
        }

        &--right{
            @include breakpoint(large) {
                float: right;
            }
        }
        
        &:hover{
            .services-svg{
                fill: #a70c5d;
            }
        }
    }
    &-icon{
        display: inline-block;
        vertical-align: top;
    }
    &-main{
        display: inline-block;
        @include breakpoint(small) {
            width: calc(100% - 50px);
            padding-left: 26px;
        }
        @include breakpoint(medium) {}
        @include breakpoint(large) {}
    }
    &-info{
        position: absolute;
        top: 5px;
        right: 0;
        cursor: pointer;
        background: url(../img/info-icon.png) no-repeat 50% 50%;
        background: url(data:image/svg+xml,%0A%3Csvg%20version%3D%221.0%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2015.000000%2036.000000%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%3E%0A%3Cg%20transform%3D%22translate%280.000000%2C36.000000%29%20scale%280.100000%2C-0.100000%29%22%0Afill%3D%22%233f4147%22%20stroke%3D%22none%22%3E%0A%3Cpath%20d%3D%22M49%20313%20c-10%20-11%20-9%20-17%204%20-30%2013%20-13%2019%20-14%2031%20-3%209%207%2016%2018%2016%2025%0A0%2019%20-37%2025%20-51%208z%22/%3E%0A%3Cpath%20d%3D%22M24%20216%20c-3%20-9%201%20-27%2010%20-41%2020%20-31%2021%20-108%201%20-125%20-8%20-7%20-15%20-21%0A-15%20-31%200%20-16%208%20-19%2043%20-19%20l44%200%20-5%20108%20c-2%2059%20-5%20108%20-6%20109%20-2%202%20-17%206%20-34%0A9%20-24%205%20-33%203%20-38%20-10z%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat 50% 50%;
        background-size: 6px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #9f2865;
        @include breakpoint(small) {}
        @include breakpoint(medium) {}
        @include breakpoint(large) {
            right: 1%;
        }
        &:hover{    
            background: #9f2865 url(data:image/svg+xml,%0A%3Csvg%20version%3D%221.0%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2015.000000%2036.000000%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%3E%0A%3Cg%20transform%3D%22translate%280.000000%2C36.000000%29%20scale%280.100000%2C-0.100000%29%22%0Afill%3D%22%23ffffff%22%20stroke%3D%22none%22%3E%0A%3Cpath%20d%3D%22M49%20313%20c-10%20-11%20-9%20-17%204%20-30%2013%20-13%2019%20-14%2031%20-3%209%207%2016%2018%2016%2025%0A0%2019%20-37%2025%20-51%208z%22/%3E%0A%3Cpath%20d%3D%22M24%20216%20c-3%20-9%201%20-27%2010%20-41%2020%20-31%2021%20-108%201%20-125%20-8%20-7%20-15%20-21%0A-15%20-31%200%20-16%208%20-19%2043%20-19%20l44%200%20-5%20108%20c-2%2059%20-5%20108%20-6%20109%20-2%202%20-17%206%20-34%0A9%20-24%205%20-33%203%20-38%20-10z%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat 50% 50%;
            background-size: 6px;
        }
    }
    &-desc{
        p{
            color: #9a9a9a;
            font-size: 13px;
            line-height: 21px;
        }
    }
    &-icon{
        width: 40px;
    }
    &-svg{
        fill: #b5b5b5;
    }
    &-modal{
        display: none;
        position: absolute;
        background: #fff;
        top: 0;
        bottom: 0;
        width: 50%;
        padding: 56px 81px 0 40px;
        &:after{
            content: "";
            display: block;
            position: absolute;
            top: 53px;
            right: 0;
            height: 198px;
            width: 1px;
            background-color: #9f2865;
        }
        &:before{
            content: "";
            position: absolute;
            top: 84px;
            right: -4px;
            width: 8px;
            height: 8px;
            background: #fff;
            transform: rotate(45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            border-right: 1px solid #9f2865;
            border-bottom: 1px solid #9f2865;
            z-index: 5;
        }
    }
}

.plan{
    &-row{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    &-title{
        min-width: 45px;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 39px;
    }
    &-name{
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 27px;
    }
    &-desc{
        p{
            color: #3f4147;
            font-size: 13px;
            margin-bottom: 30px;
        }
    }
    table{
        tr{
            td{
                padding: 0px 60px 20px 0;
                &:last-child{
                    padding-right: 0;
                }
                p{
                    margin-bottom: 0;
                    color: #3f4147;
                    font: 400 11px / 20px Gotham;
                }
                b{
                    color: #3f4147;
                    font: 700 13px / 20px Gotham;
                }
            }
        }
    }
    .price{
        color: #3f4147;
        font: 700 18px / 20px Gotham;
    }
}

.testimonials{
    padding: 21px 0 30px 0;
    @include breakpoint(small) {}
    @include breakpoint(medium) {}
    @include breakpoint(large) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between; 
    }
    &-item{
        padding: 18px;
        @include breakpoint(small) {}
        @include breakpoint(medium) {}
        @include breakpoint(large) {
            flex-basis: 338px;
            padding: 0 18px;
        }
        
        &:hover{
            
        }
    }
    .blockquote{
        color: #3f4147;
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 10px;
        position: relative;
        @include breakpoint(small) {}
        @include breakpoint(medium) {}
        @include breakpoint(large) {
            margin-bottom: 33px;
        }
        &:before{
            content: url(../img/blockquote-icon.png);
            display: block;
            margin-bottom: 13px;
        }
        &-video{
            margin-bottom: 0;
            img{
                width: 100%;
            }
            &:before{
                content: url(../img/video-icon.png); 
            }
        }
    } 
    .photo{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #fff no-repeat 50% 50%;
        background-size: cover;
    }
    .name{
        margin-top: 15px;
        margin-bottom: 6px;
        font-size: 13px;
        font-weight: 600;
    }
    .position{
        font-size: 12px;
        &:after{
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 3px;
            height: 3px;
            background-color: #a91261;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
    .website{
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline;
        color: #3f4147;
    }
}

.load-more{
    display: block;
    text-align: center;
    padding: 30px 0;
    &-link{
        display: block;
        color: #454545;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        &:hover{
            .icon{
                -webkit-animation-name: spinnerRotate;
                -webkit-animation-duration: 1s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                -moz-animation-name: spinnerRotate;
                -moz-animation-duration: 1s;
                -moz-animation-iteration-count: infinite;
                -moz-animation-timing-function: linear;
                -ms-animation-name: spinnerRotate;
                -ms-animation-duration: 1s;
                -ms-animation-iteration-count: infinite;
                -ms-animation-timing-function: linear;
            }
        }
    }
}

.form{
    padding: 0 15px;
    @include breakpoint(small) {
    }
    @include breakpoint(medium) {

    }
    @include breakpoint(large) {
        padding: 0 98px;
    }
    &-row{
        @include breakpoint(small) {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
        @include breakpoint(medium) {}
        @include breakpoint(large) {}   
    }
    &-col{
        @include breakpoint(small) {
            flex-basis: 45%;
        }
        @include breakpoint(medium) {
            flex-basis: 45%;
        }
        @include breakpoint(large) {
            flex-basis: 380px;
        }
    }
    input[type="text"]{
        display: block;
        width: 100%;
        outline: none;
        padding: 10px 0;
        border: 0;
        border-bottom: 1px solid #dcdcdc;
        font-family: Gotham;
        font-size: 11px;
        color: #3f4147;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 16px;
        @include placeholder {
            color: #3f4147;
            font-weight: normal;
            text-transform: uppercase;
        }
    }
    input[type="radio"] {
        display:none;
    }
    input[type="radio"] + label {
        color: #3f4147;
        cursor: pointer;
    }
    input[type="radio"] + label span {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border: 2px solid #c9cacf;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    input[type="radio"]:checked + label{
        color: #a70c5d;
    }
    input[type="radio"]:checked + label span{
         border-color: #a70c5d;
    }
    textarea{
        width: 100%;
        height: 70px;
        font-family: Gotham;
        color: #3f4147;
        font-size: 15px;
        resize: none;
        border: 1px solid #dcdcdc;
        outline: none;
        padding: 18px;
        @include breakpoint(small) {
            height: 151px;
        }
        @include breakpoint(medium) {
            height: 251px;
        }
        @include breakpoint(large) {
            
        }
    }
    label{
        display: block;
        font-size: 11px;
        padding-top: 7px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .fieldset{
        padding: 0;
        margin: 0;
        border: 1px solid #dcdcdc;
        margin-top: 51px;
        &-title{
            width: 100%;
            display: block;
            padding: 16px 21px;
            background: #fcfcfd;
            color: #3f4147;
            border-bottom: 1px solid #dcdcdc;
            text-transform: uppercase;
            font-size: 11px;
        }
        &-content{
            padding: 15px 15px 18px 20px;
        }
    }
    .btn{
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        @include breakpoint(small) {}
        @include breakpoint(medium) {}
        @include breakpoint(large) {
            margin-top: 39px;
        }
    }
}


.footer{
    padding: 54px 0;
    text-align: center;
    &-address{
        padding: 0 0 4px 0;
        p{
            color: #3f4147;
            font-size: 18px;
            line-height: 30px;
        }
        h4{
            color: #3f4147;
            font: 900 11px / 22px Gotham;
            text-transform: uppercase;
            padding-bottom: 13px;
        }
        a{
            font-size: 18px;
            line-height: 30px;
            color: #a70c5d;
        }
    }
    &-socials{
        a{
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fff no-repeat 50% 50%;
            border: 1px solid #d3d3d3;
            margin: 15px 2px;
            background-size: 20px;
            &:hover{
                border-color: #4a6bb8;
            }
            &.fb{
                background-image: url(data:image/svg+xml,%3Csvg%20enable-background%3D%22new%200%200%2056.693%2056.693%22%20height%3D%2256.693px%22%20id%3D%22Layer_1%22%20version%3D%221.1%22%20viewBox%3D%220%200%2056.693%2056.693%22%20width%3D%2256.693px%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cpath%20d%3D%22M40.43%2C21.739h-7.645v-5.014c0-1.883%2C1.248-2.322%2C2.127-2.322c0.877%2C0%2C5.395%2C0%2C5.395%2C0V6.125l-7.43-0.029%20%20c-8.248%2C0-10.125%2C6.174-10.125%2C10.125v5.518h-4.77v8.53h4.77c0%2C10.947%2C0%2C24.137%2C0%2C24.137h10.033c0%2C0%2C0-13.32%2C0-24.137h6.77%20%20L40.43%2C21.739z%22/%3E%3C/svg%3E);
            }
            &.tw{
                background-image: url(data:image/svg+xml,%3Csvg%20enable-background%3D%22new%200%200%2056.693%2056.693%22%20height%3D%2256.693px%22%20id%3D%22Layer_1%22%20version%3D%221.1%22%20viewBox%3D%220%200%2056.693%2056.693%22%20width%3D%2256.693px%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cpath%20d%3D%22M52.837%2C15.065c-1.811%2C0.805-3.76%2C1.348-5.805%2C1.591c2.088-1.25%2C3.689-3.23%2C4.444-5.592c-1.953%2C1.159-4.115%2C2-6.418%2C2.454%20%20c-1.843-1.964-4.47-3.192-7.377-3.192c-5.581%2C0-10.106%2C4.525-10.106%2C10.107c0%2C0.791%2C0.089%2C1.562%2C0.262%2C2.303%20%20c-8.4-0.422-15.848-4.445-20.833-10.56c-0.87%2C1.492-1.368%2C3.228-1.368%2C5.082c0%2C3.506%2C1.784%2C6.6%2C4.496%2C8.412%20%20c-1.656-0.053-3.215-0.508-4.578-1.265c-0.001%2C0.042-0.001%2C0.085-0.001%2C0.128c0%2C4.896%2C3.484%2C8.98%2C8.108%2C9.91%20%20c-0.848%2C0.23-1.741%2C0.354-2.663%2C0.354c-0.652%2C0-1.285-0.063-1.902-0.182c1.287%2C4.015%2C5.019%2C6.938%2C9.441%2C7.019%20%20c-3.459%2C2.711-7.816%2C4.327-12.552%2C4.327c-0.815%2C0-1.62-0.048-2.411-0.142c4.474%2C2.869%2C9.786%2C4.541%2C15.493%2C4.541%20%20c18.591%2C0%2C28.756-15.4%2C28.756-28.756c0-0.438-0.009-0.875-0.028-1.309C49.769%2C18.873%2C51.483%2C17.092%2C52.837%2C15.065z%22/%3E%3C/svg%3E)
            }
            &.lnk{
                background-image: url(data:image/svg+xml,%3Csvg%20height%3D%2260px%22%20version%3D%221.1%22%20viewBox%3D%220%200%2060%2060%22%20width%3D%2260px%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Ctitle/%3E%3Cdesc/%3E%3Cdefs/%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20id%3D%22black%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%3E%3Cg%20id%3D%22slice%22%20transform%3D%22translate%28-600.000000%2C%200.000000%29%22/%3E%3Cg%20fill%3D%22%23000000%22%20id%3D%22linkedin%22%20transform%3D%22translate%2816.000000%2C%2017.000000%29%22%3E%3Cpath%20d%3D%22M5.88307542%2C26.8231512%20L5.88307542%2C8.52433895%20L0.227370038%2C8.52433895%20L0.227370038%2C26.8231512%20L5.88307542%2C26.8231512%20Z%20M5.88307542%2C2.03821455%20C5.84938823%2C0.400659962%204.75801564%2C-0.846153846%202.98505434%2C-0.846153846%20C1.21163158%2C-0.846153846%200.0528846154%2C0.400659962%200.0528846154%2C2.03821455%20C0.0528846154%2C3.64020234%201.17794439%2C4.92307692%202.9172185%2C4.92307692%20L2.95090569%2C4.92307692%20C4.75801564%2C4.92307692%205.88307542%2C3.64020234%205.88307542%2C2.03821455%20Z%20M15.1100418%2C26.8231517%20L15.1100418%2C16.3973729%20C15.1100418%2C15.8394014%2015.1503704%2C15.28143%2015.3144472%2C14.8836682%20C15.7630341%2C13.7682778%2016.7839561%2C12.6136637%2018.498199%2C12.6136637%20C20.7438958%2C12.6136637%2022.152278%2C13.8881587%2022.152278%2C16.3973727%20L22.152278%2C26.8231516%20L27.8461538%2C26.8231517%20L27.8461538%2C16.1183872%20C27.8461538%2C10.3839878%2024.7850453%2C7.71566901%2020.7019099%2C7.71566901%20C17.3540813%2C7.71566901%2015.8845724%2C9.58735929%2015.0686083%2C10.861302%20L15.1094893%2C8.41391226%20L9.425462%2C8.41391226%20C9.50722415%2C10.1657215%209.425462%2C26.8231516%209.425462%2C26.8231516%20L15.1100418%2C26.8231517%20Z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
                background-size: 33px;
            }
        }
    }
    &-copyright{
        color: #37393f;
        font-size: 12px;
        padding-top: 3px;
    }
}